body {
  background: grey;
}

.smallMargins {
  margin: 5px;
}

.road {
  display: flex;
  justify-content: space-between;
}

.car {
  display: block;
  width: 80px;
  height: 60px;
}

.flag {
  transform: translateX(-100px);
}

.border {
  margin-top: -10px;
  margin-bottom: 10px;
  border-bottom: 2px dashed black;
}

table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid black;
  padding: 10px;
}
