body {
  background: grey;
}

.smallMargins {
  margin: 5px;
}

.road {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.car {
  display: block;
  width: 100px;
  height: 50px;
  margin-bottom: -6px;
}

.flag {
  transform: translateX(-70px);
}

.border {
  margin-bottom: 10px;
  border-bottom: 2px dashed black;
}

table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid black;
  padding: 3px 10px;
}

th {
  font-size: 17px;
}

.arrow {
  width: 15px;
  margin-left: 5px;
  transform: translateY(4px);
}

.selectAnimate {
  animation: gradient-border .7s infinite;
  border: 2px solid;
}

@keyframes gradient-border {
  0%, 100% {
    border-color: blue;
  }
  33% {
    border-color: red;
  }
  66% {
    border-color: green;
  }
}

.winnerMessage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: xx-large;
  font-weight: bold;
  color: gold;
  z-index: 10;
}

#wins, #bestTime {
  cursor: pointer;
}
